/* Comment */
body {
    background-color: rgb(17 24 39);
}

h1, h2, h3, h4, h5, h6, p {
    color: #fff;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}

h4 {
    color : #FFEB3B;
}

h2 {
    color: grey;
}

p {
    color: grey;
}

.navbar-brand {
    color: #fff;
}

.nav-link {
    color: #fff;
}

.intro {
    padding-left:  15%;
    padding-top: 10%;
    padding-bottom: 20%;
}

.btn-outline-warning {
    color: #FFEB3B;
}

.about-me {
    padding-left: 15%;
    padding-right: 15%;
}

.profile-pic {
    max-width: 250px;
}

.skills-section {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 20%;
}

.fa-brands {
    color: #fff;
}

.skill-icon {
    text-align: center;
}

.text-yellow {
    color : #FFEB3B;
}

.proj-sec {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 20%;
}

.cta-section {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20%;
    
}

.cta-form {
    width: 100%;
    height: 50vh;
    background-color: rgb(17 24 39);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-text {
    color: #fff;
}

form {
    background: rgb(17 24 39);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 5%;
    outline: none;
    background-color: #fff;
}

form button {
    color:#FFEB3B;
}