/* Comment */
body {
    background-color: rgb(17 24 39);
}

h1, h2, h3, h4, h5, h6, p {
    color: #fff;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}

h4 {
    color : #FFEB3B;
}

h2 {
    color: grey;
}

p {
    color: grey;
}

.navbar-brand {
    color: #fff;
}

.nav-link {
    color: #fff;
}

.intro {
    padding-left:  15%;
    padding-top: 10%;
    padding-bottom: 20%;
}

.btn-outline-warning {
    color: #FFEB3B;
}

.about-me {
    padding-left: 15%;
    padding-right: 15%;
}

.profile-pic {
    max-width: 250px;
}

.skills-section {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 20%;
}

.fa-brands {
    color: #fff;
}

.skill-icon {
    text-align: center;
}

.icon-text {
    color : #FFEB3B;
}

.proj-sec {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 20%;
}

.cta-section {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20%;
    
}
