/* Comment */
body {
  background-color: rgb(17 24 39);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #fff;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
}

h4 {
  color: #ffeb3b;
}

h2 {
  color: grey;
}

p {
  color: grey;
}

/* Navbar */

.navbar-brand {
  color: #fff;
}

.nav-link {
  color: #fff;
}

/* Intro */

.intro {
  padding-left: 15%;
  padding-top: 10%;
  padding-bottom: 15%;
}

.btn-outline-warning {
  color: #ffeb3b;
}

.about-me {
  padding-left: 15%;
  padding-right: 15%;
}

.profile-pic {
  max-width: 250px;
}

.skills-section {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 15%;
  text-align: center;
}

.fa-brands {
  color: #fff;
}

.skill-icon {
  text-align: center;
}

.text-yellow {
  color: #ffeb3b;
}

/* Projects */

.card {
  border-color: #ffeb3b;
}

.proj-sec {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 15%;
}

.proj-3-img {
    width: auto;
}

/* Call To Action */

.cta-section {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 15%;
}

.cta-form {
  width: 100%;
  background-color: rgb(17 24 39);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-text {
  color: #ffeb3b;
}

.form-title {
  font-size: 1.5rem;
}

form {
  background: rgb(17 24 39);
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
}

form input,
form textarea {
  border: 0;
  border-radius: 5px;
  margin: 1%;
  padding: 1%;
  outline: none;
  background-color: #fff;
}

form button {
  color: #ffeb3b;
}
